@page "/products"

@using CommunityToolkit.Maui.Views;
@using DianabolDB.MauiPages;

@inject IDianabolService DianabolService
@inject IOpenFoodFactsService OpenFoodFactsService
@inject NotificationService NotificationService

@if (!ShowEdit)
{
    <RadzenStack Gap="1rem" AlignItems="AlignItems.Stretch" Orientation="Radzen.Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" class="h-100">
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
            <RadzenColumn Size="6">
                <RadzenTextBox @bind-Value="@SearchString" Style="width: 100%;"/>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Medium" Icon="search" Text="Search" class=" rz-shadow-10 w-100" Click="@(async () => await SearchProduct())" />
            </RadzenColumn>
            <RadzenColumn Size="2">
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Medium" Icon="line_weight" class="rz-shadow-10 w-100" Click="OpenPopup" />
            </RadzenColumn>
        </RadzenRow>



        <RadzenProgressBar Visible="@ShowLoading" Value="100" class=" m-0 p-0" ShowValue="false" Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Secondary" />

        <RadzenRow>
            <RadzenDataGrid AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            FilterMode="FilterMode.Advanced"
                            AllowSorting="true"
                            PageSize="24"
                            AllowPaging="true"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            Data="@Ingredients"
                            TItem="Meal"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            SelectionMode="DataGridSelectionMode.Single"
                            ExpandMode="DataGridExpandMode.Multiple">
                <Template Context="data">
                    <div class="m-0 p-0 pb-0" Style="overflow:auto">
                        <MealComponent Meal="@data"></MealComponent>
                    </div>
                </Template>
                <Columns>
                    <RadzenDataGridColumn TItem="Meal" Property="Name" Title="Name" Filterable="true" />
                    @*<RadzenDataGridColumn TItem="Meal" Property="Calories" Title="kcal" Filterable="true" Width="85px" />*@
                    <RadzenDataGridColumn TItem="Meal" Title="" Filterable="false" Width="50px" TextAlign="TextAlign.Center">
                        <Template>
                            <RadzenButton Click=@(() => NewMeal(context)) Icon="add" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Medium" class=" m-0" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenRow>
        @*<span class="fixed-bottom rz-color-secondary">@(Error)</span>*@
    </RadzenStack>


}
else
{
    <RadzenTemplateForm Data="@EditMeal" Submit="@((Meal args) => { SaveMeal(args); })">
        <RadzenStack Gap="1rem">
            <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Left">
                <RadzenColumn>
                    <RadzenLabel class="rz-color-white" Text="Name" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenTextBox @bind-Value="@EditMeal.Name" Style="width: 100%;" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel class="rz-color-white" Text="Description" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenTextBox Style="width: 100%;" @bind-Value="@EditMeal.Description" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel Text="Weight (g)" class="rz-color-white" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenNumeric TValue="double" Style="width: 100%;" Value="@EditMeal.Weight" ValueChanged="@((double weight) => OnWeightChange(weight))" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel Text="Calories (kcal)" class="rz-color-white" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenNumeric Style="width: 100%;" @bind-Value="@EditMeal.Calories" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel Text="Carbohydrates (g)" class="rz-color-white" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenNumeric Style="width: 100%;" @bind-Value="@EditMeal.Carbohydrates" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel Text="Fat (g)" class="rz-color-white" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenNumeric Style="width: 100%;" @bind-Value="@EditMeal.Fat" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn>
                    <RadzenLabel Text="Protein (g)" class="rz-color-white" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenNumeric Style="width: 100%;" @bind-Value="@EditMeal.Protein" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>

        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="fixed-bottom m-3">
            <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" class=" rz-shadow-10 w-50" Click="@(() => ShowEdit = !ShowEdit)" />
            <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Large" Icon="save" Text="Save" class=" rz-shadow-10 w-50" />
        </RadzenStack>
    </RadzenTemplateForm>
}



